<%= form_for(@athlete_climb_log) do |f| %>
  <% if @athlete_climb_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@athlete_climb_log.errors.count, "error") %> prohibited this athlete_climb_log from being saved:</h2>

      <ul>
      <% @athlete_climb_log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :quality_rating %><br>
    <%= f.number_field :quality_rating, min: 1, max: 5, step: 1 %>
  </div>
  <div class="field">
    <%= f.label :note %><br>
    <%= f.text_area :note %>
  </div>
  <div class="field">
    <%= f.label :project %><br>
    <%= f.check_box :project %>
  </div>

  <%= f.fields_for :climb do |ff| %>
    <%= render partial: 'climbs/form', locals: { climb_form: ff } %>
  <% end %>

  <div class="actions">
    <%= submit_tag 'Save' %>
  </div>
<% end %>
