<%= form_for @athlete_climb_log do |f| %>
  <%= render partial: "shared/error_messages", locals: {target: @athlete_climb_log} %>

  <div class="form-group">
    <%= f.label :project do %>
      <%= f.check_box :project %> Project
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :quality_rating %><br>
    <%= f.number_field :quality_rating, min: 1, max: 5, step: 1 %>
  </div>
  <div class="form-group">
    <%= f.label :note %><br>
    <%= f.text_area :note %>
  </div>

  <%= f.fields_for :climb do |ff| %>
    <%= render partial: 'climbs/form', locals: { climb_form: ff } %>
  <% end %>

  <div class="actions">
    <%= f.submit 'Save' %>
  </div>
<% end %>
