<%= form_for(@athlete_climb_log) do |f| %>
  <%= render partial: "shared/error_messages", locals: {target: @athlete_climb_log} %>

  <div class="field">
    <%= f.label :quality_rating %><br>
    <%= f.number_field :quality_rating, min: 1, max: 5, step: 1 %>
  </div>
  <div class="field">
    <%= f.label :note %><br>
    <%= f.text_area :note %>
  </div>
  <div class="field">
    <%= f.label :project %><br>
    <%= f.check_box :project %>
  </div>

  <%= f.fields_for :climb do |ff| %>
    <%= render partial: 'climbs/form', locals: { climb_form: ff } %>
  <% end %>

  <div class="actions">
    <%= submit_tag 'Save' %>
  </div>
<% end %>
