<p id="notice"><%= notice %></p>

<h1>Listing Athlete Climb Logs</h1>

<table>
  <thead>
    <tr>
      <th>Grade</th>
      <th>Quality rating</th>
      <th>Note</th>
      <th>Project</th>
      <th>Athlete story</th>
      <th>SetterClimbLog</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @athlete_climb_logs.each do |athlete_climb_log| %>
      <tr>
        <td><%= athlete_climb_log.quality_rating %></td>
        <td><%= athlete_climb_log.note %></td>
        <td><%= athlete_climb_log.project %></td>
        <td><%= athlete_climb_log.athlete_story %></td>
        <td><%= athlete_climb_log.setter_climb_log %></td>
        <td><%= link_to 'Show', athlete_climb_log %></td>
        <td><%= link_to 'Edit', edit_athlete_climb_log_path(athlete_climb_log) %></td>
        <td><%= link_to 'Destroy', athlete_climb_log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New athlete climb log', new_athlete_climb_log_path %>
