<%= render partial: 'climbs/show', locals: {climb: @athlete_climb_log.climb} %>

<p>
  <strong>Quality rating:</strong>
  <%= @athlete_climb_log.quality_rating %>
</p>

<p>
  <strong>Note:</strong>
  <%= @athlete_climb_log.note %>
</p>

<p>
  <strong>Project?</strong>
  <%= @athlete_climb_log.project ? 'yes' : 'no' %>
</p>

<%= link_to 'Edit', edit_athlete_climb_log_path(@athlete_climb_log) %>
