<%= form_for(@boulder_log) do |f| %>
  <% if @boulder_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@boulder_log.errors.count, "error") %> prohibited this boulder_log from being saved:</h2>

      <ul>
      <% @boulder_log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :grade %><br>
    <%= f.number_field :grade %>
  </div>
  <div class="field">
    <%= f.label :quality_rating %><br>
    <%= f.number_field :quality_rating %>
  </div>
  <div class="field">
    <%= f.label :note %><br>
    <%= f.text_area :note %>
  </div>
  <div class="field">
    <%= f.label :project %><br>
    <%= f.check_box :project %>
  </div>
  <div class="field">
    <%= f.label :athlete_story_id %><br>
    <%= f.text_field :athlete_story_id %>
  </div>
  <div class="field">
    <%= f.label :boulder_id %><br>
    <%= f.text_field :boulder_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
