<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<section class="signin-fields">
  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field( :email, { autofocus: true, placeholder:"Email Address" }) %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field( :password, { autocomplete: "off", placeholder: "Password"}) %>
    <span class="help-block"><%= link_to "Forgot your password?", new_password_path(resource_name)%></span>
  </div>

  <% if devise_mapping.rememberable? %>
  <div class="checkbox">
    <%= f.label(:remember_me) do %>
      <%= f.check_box :remember_me %>
      Remember me
    <% end %>
  </div>
  <% end %>

  <div class="form-group">
    <%= f.submit "Log in", class: "btn" %>
  </div>
</section>
<% end %>
