<%= form_for setup_user(current_user), url: user_path do |user_form| %>
  <%= render partial: "shared/error_messages", locals: {target: current_user} %>

  <section class="user-profile-fields">
    <section class="account-information">
      <h3>Account Information</h3>

      <section class="roles <%= 'warning' if current_user.roles.empty? %>">
        <div class="section-header" role="tab">
          <h4 class="section-title">
            <a href="#roles-collapse" data-toggle="collapse">Roles <span class="caret"></span></a>
          </h4>
        </div>
        <div id="roles-collapse" class="panel-collapse collapse<%= ' in' if current_user.roles.empty? %>" role="tabpanel">
          <div class="section-body">
            <% if current_user.roles.empty? %>
              <p>
                To start using the site, you need to select one or more roles. This will you give you access to the corresponding features. You will be able to switch roles at any time via a dropdown in the navigation bar.
              </p>
            <% end %>
            <% Role.defined_roles.each do |role|%>
              <%= user_form.label(role, class: 'checkbox-inline') do %>
                <%# Giving the checkboxes a name of user[_roles][] causes the selected
                    roles to be submitted as an array under the user hash, with a key of
                    _roles. For example, if athlete and setter are selected, we will have
                    params = {... "user"=>{... "_roles"=>["athlete", "setter"] ...} ...} %>
                <%= check_box_tag 'user[_roles][]', role, current_user.has_role?(role) %>
                <%= role %>
              <% end %>
            <% end %>
          </div>
        </div>
      </section>
    </section>

    <section class="personal-details">
      <h3>Personal Details</h3>

      <section class="name">
        <div class="section-header" role="tab">
          <h4 class="section-title">
            <a href="#name-collapse" data-toggle="collapse">Name <span class="caret"></span></a>
          </h4>
        </div>
        <div id="name-collapse" class="panel-collapse collapse<%= ' in' unless current_user.name.short_format %>" role="tabpanel">
          <div class="panel-body">
            <% unless current_user.name.short_format %>
              <p>
                If you provide a first name, we can refer to you using this instead of your email. For example, if your first name is 'Amanda' in the navigation bar, you'll see 'Amanda' instead of your email.
              </p>
            <% end %>
            <%= user_form.fields_for :name do |name_form| %>
              <%= render partial: "users/names/fields", locals: {form: name_form} %>
            <% end %>
          </div>
        </div>
      </section>
    </section>
  </section>

  <section class="form-footer">
    <div class="submit-fields">
      <%= user_form.submit "Update", class: 'btn-default' %>
    </div>
  </section>
<% end %>
