<%= form_for(@climb_sesh) do |f| %>
  <%= render partial: "shared/error_messages", target: @climb_sesh %>

  <div class="field">
    <%= f.label :high_hold %><br>
    <%= f.number_field :high_hold %>
  </div>
  <div class="field">
    <%= f.label :note %><br>
    <%= f.text_area :note %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
