<p id="notice"><%= notice %></p>

<h1>Listing Climb Seshes</h1>

<table>
  <thead>
    <tr>
      <th>High hold</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @climb_seshes.each do |climb_sesh| %>
      <tr>
        <td><%= climb_sesh.high_hold %></td>
        <td><%= climb_sesh.note %></td>
        <td><%= link_to 'Show', climb_sesh %></td>
        <td><%= link_to 'Edit', edit_climb_sesh_path(climb_sesh) %></td>
        <td><%= link_to 'Destroy', climb_sesh, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Climb sesh', new_climb_sesh_path %>
