<p id="notice"><%= notice %></p>

<p>
  <strong>High hold:</strong>
  <%= @climb_sesh.high_hold %>
</p>

<p>
  <strong>Note:</strong>
  <%= @climb_sesh.note %>
</p>

<%= link_to 'Edit', edit_climb_sesh_path(@climb_sesh) %> |
<%= link_to 'Back', climb_seshes_path %>
