<%= form_for(@gym) do |f| %>
  <% if @gym.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gym.errors.count, "error") %> prohibited this gym from being saved:</h2>

      <ul>
      <% @gym.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :topo %><br>
    <%= f.file_field :topo %>
  </div>

  <%= f.fields_for('location_attributes][address_attributes', @gym.location.address) do |address_form| %>
    <%= render partial: 'addresses/form', locals: {address_form: address_form} %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
