<p>
  <strong>Name:</strong>
  <%= @gym.name %>
</p>

<p>
  <strong>Topo:</strong>
  <%= image_tag @gym.topo_url.to_s %>
</p>

<%= render partial: 'addresses/show', locals: {address: @gym.location.address} %>

<%= link_to 'Edit', edit_gym_path(@gym) %> |
<%= link_to 'Back', gyms_path %>
