<%= form_for(setup_location(@location)) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3>Basic Info</h3>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <h3>Address</h3>
  <%= f.fields_for :address do |address_form| %>
    <%= render partial: 'addresses/form', locals: {address_form: address_form} %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
