<!DOCTYPE html>
<html>
<head>
  <title>Climbalytics</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: '/layouts/navbar/navbar' %>

<% if notice %>
  <p class="alert alert-success alert-dismissible">
    <%= notice %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </p>
<% end %>
<% if alert %>
  <p class="alert alert-danger alert-dismissible">
    <%= alert %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </p>
<% end %>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
