<!DOCTYPE html>
<html>
<head>
  <title>Climbalytics</title>
  <% if Rails.application.assets.find_asset(ps = page_stylesheet(params[:controller], params[:action])) %>
    <%= stylesheet_link_tag ps, media: 'all', 'data-turbolinks-track' => true %>
  <% else %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <% end %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: '/layouts/navbar/navbar' %>

<%= render_flash %>

<div class="container page-content">
  <%= yield %>
</div>

</body>
</html>
