<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(setup_user(resource), as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |form| %>
  <%= devise_error_messages! %>

  <section class="user-profile-fields">
    <section class="account-information">
      <h3>Account Information</h3>

      <section class="login-credentials">
        <div class="section-header" role="tab">
          <h4 class="section-title">
            <a role="button" data-toggle="collapse" href="#login-credentials-collapse">
              Login Credentials <span class="caret"></span>
            </a>
          </h4>
        </div>
        <div id="login-credentials-collapse" class="panel-collapse collapse" role="tabpanel">
          <div class="section-body">
            <div class="form-group">
              <%= form.label :email %><br />
              <%= form.email_field( :email, { autofocus: true, placeholder: 'Email address'}) %>
            </div>
            <div class="form-group">
              <%= form.label :password, 'New password' %>
              <%= form.password_field( :password, { autocomplete: "off", placeholder: 'New Password' }) %>
            </div>
            <div class="form-group">
              <%= form.label :password_confirmation, 'New password confirmation' %><br />
              <%= form.password_field( :password_confirmation, { autocomplete: "off", placeholder: 'Confirm Password'}) %>
            </div>
          </div>
        </div>
      </section>

      <section class="roles <%= 'warning' if resource.roles.empty? %>">
        <div class="section-header" role="tab">
          <h4 class="section-title">
            <a href="#roles-collapse" data-toggle="collapse">Roles <span class="caret"></span></a>
          </h4>
        </div>
        <div id="roles-collapse" class="panel-collapse collapse<%= ' in' if resource.roles.empty? %>" role="tabpanel">
          <div class="section-body">
            <% if resource.roles.empty? %>
              <p>
                To start using the site, you need to select one or more roles. This will you give you access to the corresponding features. You will be able to switch roles at any time via a dropdown in the navigation bar.
              </p>
            <% end %>
            <% Role.defined_roles.each do |role|%>
              <%= form.label(role, class: 'checkbox-inline') do %>
                <%# Giving the checkboxes a name of user[_roles][] causes the selected
                    roles to be submitted as an array under the user hash, with a key of
                    _roles. For example, if athlete and setter are selected, we will have
                    params = {... "user"=>{... "_roles"=>["athlete", "setter"] ...} ...} %>
                <%= check_box_tag 'user[_roles][]', role, resource.has_role?(role) %>
                <%= role %>
              <% end %>
            <% end %>
          </div>
        </div>
      </section>
    </section>

    <section class="personal-details">
      <h3>Personal Details</h3>

      <section class="name">
        <div class="section-header" role="tab">
          <h4 class="section-title">
            <a href="#name-collapse" data-toggle="collapse">Name <span class="caret"></span></a>
          </h4>
        </div>
        <div id="name-collapse" class="panel-collapse collapse<%= ' in' if resource.name.first.blank? %>" role="tabpanel">
          <div class="panel-body">
            <% if resource.name.first.blank? %>
              <p>
                If you provide a first name, we can refer to you using this instead of your email. For example, if your name is 'Amanda' in the navigation bar, you'll see 'Amanda' instead of your email.
              </p>
            <% end %>
            <%= form.fields_for :name do |name_form| %>
              <div class="form-group">
                <%= name_form.label :first %>
                <%= name_form.text_field( :first, { class: 'form-control', placeholder: 'First Name'}) %>
              </div>
              <div class="form-group">
                <%= name_form.label :last %>
                <%= name_form.text_field( :last, { class: 'form-control', placeholder: 'Last Name'}) %>
              </div>
            <% end %>
          </div>
        </div>
      </section>
    </section>
  </section>

  <section class="submit-fields">
    <div class="input-group">
      <%= form.password_field( :current_password, { autocomplete: "off", placeholder: 'Current Password' }) %>
      <span class="input-group-btn">
        <%= form.submit "Update", class: 'btn' %>
      </span>
    </div>
  </section>

<% end %>

<%# Include this once I've implemented soft-deleting of user accounts, and have
    required a password for deleting. %>
<%# <h3>Cancel my account</h3> %>

<%# <p>Unhappy? %><%# button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %><%#</p>%>
