<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(setup_user(resource), as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |form| %>
  <%= devise_error_messages! %>

  <h3>Account Information</h3>

  <div class="field form-group row">
    <div class="col-xs-12 col-md-6">
      <%= form.label :email %><br />
      <%= form.email_field( :email, { autofocus: true, class: 'form-control', placeholder: 'Email address'}) %>
    </div>  
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field form-group row">
    <div class="col-xs-12 col-md-6">
      <%= form.label :password, 'New password' %> <i>(leave blank if you don't want to change it)</i><br />
      <%= form.password_field( :password, { autocomplete: "off", class: 'form-control', placeholder: 'New Password' }) %>
    </div>  
  </div>

  <div class="field form-group row">
    <div class="col-xs-12 col-md-6">
      <%= form.label :password_confirmation, 'New password confirmation' %><br />
      <%= form.password_field( :password_confirmation, { autocomplete: "off", class: 'form-control', placeholder: 'Confirm Password'}) %>
    </div>
  </div>

  <% Role.defined_roles.each do |role|%>
    <%= form.label(role) do %>
      <%# Giving the checkboxes a name of user[_roles][] causes the selected
          roles to be submitted as an array under the user hash, with a key of
          _roles. For example, if athlete and setter are selected, we will have
          params = {... "user"=>{... "_roles"=>["athlete", "setter"] ...} ...} %>
      <%= check_box_tag 'user[_roles][]', role, resource.has_role?(role) %>
      <%= role %>
    <% end %>
  <% end %>

  <h3>Personal Details</h3>

  <h4>Name</h4>
  <%= form.fields_for :name do |name_form| %>
    <div class="field form-group row">
      <div class="col-xs-12 col-md-6">  
        <%= name_form.label :first %>
        <%= name_form.text_field( :first, { class: 'form-control', placeholder: 'First Name'}) %>
      </div>
    </div>
    <div class="field form-group row">
      <div class="col-xs-12 col-md-6">
        <%= name_form.label :last %>
        <%= name_form.text_field( :last, { class: 'form-control', placeholder: 'Last Name'}) %>
      </div>
    </div>
  <% end %>

  <h4>Address</h4>
  <%= form.fields_for :address do |address_form| %>
    <%= render partial: 'addresses/form', locals: {address_form: address_form} %>
  <% end %>

  <div class="field form-group row">
    <div class="col-xs-12 col-md-6">
      <%= form.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= form.password_field( :current_password, { autocomplete: "off", class: 'form-control', placeholder:'Current Password' }) %>
    </div>
  </div>

  <div class="actions form-group">
    <%= form.submit "Update", class: "btn btn-default" %>
  </div>
<% end %>

<%# Include this once I've implemented soft-deleting of user accounts, and have
    required a password for deleting. %>
<%# <h3>Cancel my account</h3> %>

<%# <p>Unhappy? %><%# button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %><%#</p>%>
